:root { 
  body {
    margin: 0;
    padding: 0;
  }
  // Text links
  a:not(.button) {
    background: rgba($logo_green, .2);
    color: currentColor;
    padding: 0 .5rem;
    text-decoration: none;
    &:visited {
      color: $percent_30;
    } 
    &:active,
    &:hover {
      color: $percent_10;
      background: rgba($logo_green, .5); 
    }
  }
  a.wrap--image {
    padding: 0;
  }
  
  // Text link on dark background
  a:not(.button).link--on-dark {
    color: $percent_80;
    &:visited {
      color: $percent_60;
    }
    &:active,
    &:hover {
      color: $white;
    }    
  }
  
  // Nav links
  a.link--nav {
    @extend %uc;
    background: none;
    color: $percent_60;
    display: block;
    letter-spacing: 1px;
    padding: 1.5rem 1rem 1rem;
    text-decoration: none;
    @include for-tablet-landscape-up {
      //padding: 1rem;
    }
    &:visited {
      color: $percent_80;
    }
    &:active,
    &:focus,
    &:hover {
      color: $white;
    }    
  }

    
  a.button {
    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
  :focus {
    outline: 0;
    outline: 2px solid $primary;
  }
}


// Custom :selection rules
::selection {
  color: $white;
  background: darken($primary, 5%);
}

// The footer
footer {
  background: $black;
  margin-top: -1rem;
  p {
    @extend %tac;
    color: $percent_60;      
    padding: 2rem 4rem;
    @include for-tablet-landscape-up {
      padding: 4rem 6rem;
    }    
  }
}

