// Using Plumer https://jamonserrano.github.io/plumber-sass/
// First, we set up the plumer defaults.
// 8px grid on which we'll layout site,
// which becomes our base rem unit.
// And since this will be a base theme, from
// which we'll make child themes, we'll
// use Bree (sans-serif) and Bree Serif.

:root {
  font-size: 8px;  // grid height => 8px, font size => 15px

  // Push underlines to below descenders.
  // Not yet supported in all browsers, but
  // a nicety where available. 
  text-underline-position: under;

  // Uncomment to show the grid
  //background-image: linear-gradient(to top, rgba(242, 201, 76, 0.25) 0, rgba(242, 201, 76, 0.25) 1px, transparent 1px);
  background-size: 100% 8px;
}

body {
  font-family: $family-sans-serif;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6  {
  font-family: $family-serif;
  font-weight: 200;
}

// Set our defaults base on above
@include plumber-set-defaults(
  $grid-height: 1rem,  // 8px
  $baseline: $body-baseline,  // Bree
  $font-size: 2,  // 16px / 8px = 2 (fraction)
  $line-height: 3,  // 3 * 8 = 24px (multiple of grid-height, integer)
  $leading-top: 1,  // 1 * 1rem (multiple of grid-height, integer)
  $leading-bottom: 2  // 2 * 1rem (multiple of grid-height, integer)
);

h1,
h2,
h3,
h4,
h5,
h6  {
  font-family: $header-font;
}

// Set base text size to 16/24
body {
  @include plumber($baseline: $body-baseline);
}

// See http://type-scale.com/ for scale sizes (x2 for 8px grid).
// Perfect Fourth 1.333

// h1 size
@mixin scale-h1 {
  @include plumber(
    $font-size: 6.314,
    $line-height: 7
  );
  @include for-tablet-landscape-up {
    @include plumber(
      $font-size: 7.8925,
      $line-height: 9
    )
  }
}

// h2 size
@mixin scale-h2 {
  @include plumber(
    $font-size: 4.738,
    $line-height: 6
  );
  @include for-tablet-landscape-up {
    @include plumber(
      $font-size: 5.9225,
      $line-height: 8
    );
  }
}

// h3 size
@mixin scale-h3 {
  @include plumber(
    $font-size: 3.554,
    $line-height: 5
  );
  @include for-tablet-landscape-up {
    @include plumber(
      $font-size: 4.4425,
      $line-height: 7
    );
  }
}

// h4 size
@mixin scale-h4 {
  @include plumber(
    $font-size: 2.666,
    $line-height: 4
  );
  @include for-tablet-landscape-up {
    @include plumber(
      $font-size: 3.3325,
      $line-height: 5
    );
  }
}

// h5, p body size
@mixin scale-p {
  @include plumber(
    $font-size: 2,
    $line-height: 3
  );
  @include for-tablet-landscape-up {
    @include plumber(
      $font-size: 2.5,
      $line-height: 4
    )
  }
}

// h6, smaller size
@mixin scale-small {
  @include plumber(
    $font-size: 1.75,
    $line-height: 3
  );
  @include for-tablet-landscape-up {
    @include plumber(
      $font-size: 2.1875,
      $line-height: 3
    );
  }
}

h1,
.h1 {
  @include scale-h1;
  color: $header-font-color;
}

h2,
.h2 {
  @include scale-h2;
  color: $header-font-color;
}

h3,
.h3 {
  @include scale-h3;
  color: $header-font-color;
}

h4,
.h4 {
  @include scale-h4;
  color: $header-font-color;
}

h5,
.h5 {
  @include scale-p;
  color: $header-font-color;  
}

p,
ol li,
ul li {
  @include scale-p;
}

h6,
.h6 {
  @include scale-small;
  color: $header-font-color;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Special treatment with background
.stencil {
  @extend %uc;
  background: rgba(darken($logo_green, 10%),.75);
  color: rgba($white, .8);
  display: inline-block;
  font-family: $stencil-font;
  font-weight: 900;
  padding: 0 2rem;
  position: relative;
  top: 2rem;
  @include for-tablet-landscape-up {
    padding: 0 3rem .5rem;  
  }
}



